<html>
  <head>
    <title>At Reception</title>
  </head>
  <body>
    <h1>Big brother is watchin' YOU</h1>
    <img src="{{ url_for('video_feed') }}">
    <div id="target_div">...</div>
    <script>
      var targetContainer = document.getElementById("target_div");
      var eventSource = new EventSource("/stream")
      eventSource.onmessage = function(e) {
        targetContainer.innerHTML = e.data;
      };
    </script>
  </body>
</html>